/* 
    Document   : style
    Created on : Nov 15, 2011, 9:24:48 PM
    Author     : cdsparrowgrove
    Description: Style Sheet
*/

/* Home Page: /index.php */
body {text-align: center}
div.container {margin-top: 5%; margin-left: 32%; height: 300px; /*DEFAULT: 295px */ width: 500px; border: 1px solid whitesmoke;}
p.uso {text-align: center; margin-top: 5%; margin-left: 30%; height: 100px; width: 200px; padding-top: 2px; padding-left: 5px; background-color:grey; /*DEFAULT: #b0e0e6 */}
select {color:#781351; background:#fee3ad; padding-left: 2px; border:1px solid greenyellow;}
a:link{font-size: smaller;}

/* Food Menu (Web Version): /webversion/menu.php */
div.dead {width:500px; height:295px; background-color:white; /* Not Needed */}
table#menu {height:270px; width:500px; border:1px solid grey; color:black;}
td1 {width:200px; height:5px;}
td2{width:50px; height:5px; font-size:14px;}
span#center {text-align:center;}
tr#grey{ background-color:grey;}
.fb-like {}

label {width:4em; float:left; text-align:right; margin-left:0.5em;display:block;}
.submit input {margin-left: 5.5em;} 
input {color:#781351; background:#fee3ad; border:1px solid #781351}
textarea {color:#781351; background:#fee3ad; border:1px solid #781351}
.submit input {color:#000; background:#ffa20f; border:2px outset #d7b9c9} 
fieldset {border:1px solid #781351; width:21em;}
legend {color:#fff; background:#ffa20c; border:1px solid #781351; padding:2px 6px}